LINKS: FLEXBOX
https://css-tricks.com/snippets/css/a-guide-to-flexbox/

CENTERING THINGS IN A COLUMN. (ex: text, text, image)
text-align: center;


CENTERING navbar.

ul/li in html or react.
2. className ul {
  background-color: yellow;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}


CENTERING TWO THINGS SIDE-BY-SIDE



FOOTER or anything sticking to the side instead of in the flow::after
1. comment out everything, piece by piece.
2. change an element to display: inline. It is set at display: block by default.
3. if you clear: left or right or both, you need clearfix: after;
